* {
    font-family: Helvetica, Arial, sans-serif;
}
h3,
p {
    text-align: center;
}
body,
input,
button,
select {
    font-size: large;
}
.twoColumnRow {
    display: grid;
    grid-template-columns: 50% 50%;
}
.plotControlBlock {
    display: block;
}
#rankPlotDiv {
    text-align: right;
}
#samplePlotDiv {
    text-align: left;
}
#rankPlot {
    margin-right: 2em;
}
#samplePlot {
    margin-left: 2em;
}
/* The reason for max-width: 90% is to leave room for the Vega-Embed "actions"
 * circle thing. Might be worth addressing this later, but for now this is a
 * reasonable hack.
 * Also, max-height can be decreased once we remove the rank signal (it's
 * included within the rankPlot, which is why the height is as large as it is).
 */
#rankPlot,
#samplePlot {
    overflow: auto;
    max-height: 420px;
    max-width: 90%;
}
textarea {
    width: 92%;
    border: 1px solid;
}
#topFeaturesDisplay {
    border-color: red;
}
#botFeaturesDisplay {
    border-color: blue;
}
#downloadHelper {
    display: none;
}
