h3,
p {
    text-align: center;
}
body,
input,
button,
select {
    font-size: large;
}
.plotTD {
    width: 50%;
}
.topAlignedTD {
    vertical-align: top;
}
#rrvTable {
    width: 100%;
}
#rankPlotTD {
    text-align: right;
}
#samplePlotTD {
    text-align: left;
}
textarea {
    width: 92%;
}
