/* * {
    border: 1px solid red;
} */
h3,
p {
    text-align: center;
}
body,
input,
button,
select {
    font-size: large;
}
.plotDiv {
    width: 50%;
}
.topAlignedDiv {
    vertical-align: top;
}
#rankPlotDiv {
    text-align: right;
}
#samplePlotDiv {
    text-align: left;
}
#rankPlot {
    margin-right: 1em;
}
#samplePlot {
    margin-left: 1em;
}
#rankPlot,
#samplePlot {
    overflow: scroll;
    height: 450px;
    border: 1px solid #ccc;
}
textarea {
    width: 92%;
}
#downloadHelper {
    display: none;
}
